body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../public/seinfeld.jpg");
  background-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.descripton{
  margin: auto;
  text-align: center;
  width: 80%;
  padding: 5px;
  border-style: solid;
  background: #B3BF0D;
  bottom: 5px;
  position: fixed;
  left: 10%;
}
.randomepisode{
  top: 5px;
}


.responsive{
  width: 28%;
  height: 25%;
}

footer{
  display: none;
}