body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../public/Seinfeld_logo.svg.png");
  overflow: hidden;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html{
  min-height: 100%;
}
.descripton{
  clear: both;
  text-align: center;
  width: 80%;
  padding: 5px;
  border-style: solid;
  background: #B3BF0D;
  bottom: 5px;
  position: relative;
  height: 200px;
  margin-top: 200px;
  left: 10%;
}

.randomepisode{
  top: 5px;
}

#content img{
  height: 40%;
  width: 40%;
}
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}

.responsive{
  width: 28%;
  height: 25%;
}

footer{
  display: none;
}